* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif JP', serif;
}


.header--div{
  display: flex;
  justify-content: center;
  font-size: 3.4rem;
  color: white;
  background-color: rgb(66, 63, 63);
  padding: 40px 20px;
  box-shadow: 1px 5px 1px rgba(10, 10, 10, 0.753);
}

.application--form{
  width: min-content;
  padding: 30px;
  background-color: rgb(131, 129, 133);
  border-radius: 20px;
  box-shadow: 1px 1px 0px rgba(17, 4, 4, 0.87);
}

.application--form > label > *{
  font-size: 1.2rem;
  margin: 3px 0px;
  text-indent: 3px;
  box-shadow: 0px 0px 2px inset rgba(17, 4, 4, 0.87);
}

#form--description{
  height: 100px;
  width: 100%;
}

.lower--container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  color: white;
  vertical-align: middle;
  height: 80vh;
}

.applicant--container{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  align-items: center;
  min-height: 400px;
  background-color: rgb(131, 129, 133);
  padding: 20px;
  border-radius: 40px;
  box-shadow: 1px 1px 0px rgba(17, 4, 4, 0.87);
}

.profile--image{
  width: 200px;
  height: 200px;
  border-radius: 250px;
  object-fit: cover;
  margin-top: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.534);
}

.applicant--description{
  max-width: 300px;
  word-wrap: break-word;
}

.edit--button{
  padding: 10px 30px;
  border: none;
  border-radius: 12px;
  margin-top: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.534);
}

.edit--button:active{
  box-shadow: inset 1px 5px 5px black;
}